<!-- ======= About Section ======= -->
<section id="CompanyProfile" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
            </div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3>Welcome to TOP POLYMERS</h3>
                    <p>
                        Top Polymers is one of the leading indenting company in Bangladesh. It’s sister concern of <a href="#">Top
                            Rank</a> was formed in the
                        year 1987. Since then, the company has been engaged in trading of Polymer, PVC Chemicals,
                        Ceramic Raw Materials, Glass
                        Raw Materials, Film, Oleo Chemicals, Pulp & Paper, Solvent, Synthetic Rubber, etc. The company
                        was established by two
                        individuals who are blessed with many years’ experience in the Trading and import/export arena.
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box">
                            <i class="bx bx-receipt"></i>
                            <h4>Mission</h4>
                            <p>To develop and maintain long-term business relationship with our suppliers and buyers by
                                creating a win-win situation.</p>
                        </div>
                        <div class="col-md-6 icon-box">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Commitment</h4>
                            <p>Uncompromising integrity.</p>
                            <p>Strengthen supply chain of our customers and suppliers.</p>
                            <p>To supply quality materials.</p>
                        </div>
                        <div class="col-md-12 icon-box">
                            <i class="bx bx-images"></i>
                            <h4>Future Opportunities</h4>
                            <p>We are aggressively seeking to represent foreign (non –Bangladeshi) Industries or
                                suppliers for Bangladesh market for Polymer, PVC Chemicals, Ceramic Raw Materials, Glass
                                Raw Materials, Film, Oleo Chemicals, Pulp & Paper, Solvent, Synthetic Rubber etc. With
                                our vast knowledge and contacts in the local and ASEAN market, we would be able to be a
                                good strategic partner for foreign suppliers.</p>
                        </div>
                        <!-- <div class="col-md-6 icon-box">
                            <i class="bx bx-shield"></i>
                            <h4>Beatae veritatis</h4>
                            <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                        </div> -->
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">232</span>
                    <p><strong>Happy Clients</strong> consequuntur quae</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">521</span>
                    <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-live-support"></i>
                    <span data-toggle="counter-up">1,463</span>
                    <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-users-alt-5"></i>
                    <span data-toggle="counter-up">15</span>
                    <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients section-bg">
    <div class="container">

        <div class="row">

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="../assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="../assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="../assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="../assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="../assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="../assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>

        </div>

    </div>
</section><!-- End Clients Section -->