<!-- ======= Contact Section ======= -->
<section id="career" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Career</h2>
            <p>Top Polymers is an equal opportunity employer. We provide our employees with best working environment,
                facilities &
                infrastructure.</p>
        </div>
        <div class="section-title">
            <p>To apply to Top Polymers: <a href="mailto:info@toppolymersbd.com">info@toppolymersbd.com</a>
        </div>
    </div>
</section><!-- End Contact Section -->
