<!-- ======= Ceramic Raw Materials Section ======= -->
<section id="ceramic-raw-materials" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Ceramic Raw Materials</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/ceramic-raw-materials.jpg" class="img-fluid"
                    alt="CeramicRawMaterials">
            </div>

        </div>

    </div>
</section>
<!-- End Ceramic Raw Materials Section -->

<!-- --Start Alumina Ball And Lining Section -- -->
<section id="alumina-ball-lining" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Alumina Ball And Lining</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alumina Ball And Lining</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Alumina Ball And Lining Section -->

<!-- --Start Alumina Oxide Section -- -->
<section id="alumina-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Alumina Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alumina Oxide</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Alumina Oxide Section -->

<!-- --Start Ball Clay Section -- -->
<section id="ball-clay" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Ball Clay</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ball Clay</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Ball Clay Section -->

<!-- --Start Barium Oxide Section -- -->
<section id="barium-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Barium Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Barium Oxide</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Barium Oxide Section -->

<!-- --Start Ceramic Roll Section -- -->
<section id="ceramic-roll" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Ceramic Roll</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ceramic Roll</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Ceramic Roll Section -->

<!-- --Start Dolomite Section -- -->
<section id="dolomite" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Dolomite</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dolomite</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Dolomite Section -->

<!-- --Start Kaolin Section -- -->
<section id="kaolin" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Kaolin</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kaolin</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Kaolin Section -->

<!-- --Start Litharge Yellow Lead Section -- -->
<section id="litharge-yellow-lead" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Litharge Yellow Lead</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Litharge Yellow Lead</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Litharge Yellow Lead Section -->

<!-- --Start Orange Lead Section -- -->
<section id="orange-lead" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Orange Lead</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Orange Lead</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Orange Lead Section -->

<!-- --Start Potash Feldspar Section -- -->
<section id="potash-feldspar" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Potash Feldspar</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Potash Feldspar</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Potash Feldspar Section -->

<!-- --Start Silica Powder Section -- -->
<section id="silica-powder" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Silica Powder</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Silica Powder</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Silica Powder Section -->

<!-- --Start Sodium Feldspar Section -- -->
<section id="sodium-feldspar" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Sodium Feldspar</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sodium Feldspar</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Sodium Feldspar Section -->

<!-- --Start Talcum Section -- -->
<section id="talcum" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Talcum</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Talcum</td>
                        <td class="desc">Producing Ceramics</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Talcum Section -->
