<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
<div class="container" data-aos="zoom-in">

<div class="owl-carousel clients-carousel">
<img class="img-size" src="../assets/img/clients/client-logo/indochlor.png" alt="indochlor"/>
<img class="img-size" src="../assets/img/clients/client-logo/indian-oil.png" alt="indian-oil"/>
<img src="../assets/img/clients/client-logo/cgpc.png" alt="cgpc"/>
<img class="img-size" src="../assets/img/clients/client-logo/opal.jpg" alt="opal"/>
<img src="../assets/img/clients/client-logo/petronas.png" alt="petronas"/>
<img src="../assets/img/clients/client-logo/tasnee.png" alt="tasnee"/>
<img src="../assets/img/clients/client-logo/vinmar.png" alt="vinmar"/>
<img src="../assets/img/clients/client-logo/dow.png" alt="dow"/>
<img src="../assets/img/clients/client-logo/formosa.png" alt="formosa"/>
<img src="../assets/img/clients/client-logo/lotto.png" alt="lotto"/>
<img src="../assets/img/clients/client-logo/hanwha.png" alt="hanwha"/>
<img src="../assets/img/clients/client-logo/lg.png" alt="lg"/>
<img src="../assets/img/clients/client-logo/lyondellbasell.png" alt="lyondellbasell"/>
<img class="img-size" src="../assets/img/clients/client-logo/oxea.png" alt="oxea"/>
<img src="../assets/img/clients/client-logo/petrocheme.png" alt="petrocheme"/>
<img src="../assets/img/clients/client-logo/petro-rabigh.png" alt="petro-rabigh"/>
<img src="../assets/img/clients/client-logo/sabic.png" alt="sabic"/>
<img src="../assets/img/clients/client-logo/sadara.png" alt="sadara"/>
<img class="img-size" src="../assets/img/clients/client-logo/sk.png" alt="sk"/>
</div>

</div>
</section><!-- End Clients Section -->
