<!-- ======= About Section ======= -->
<section id="CompanyProfile" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
            </div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3>Welcome to <span class="primary-color">TOP POLYMERS</span></h3>
                    <p>
                        Top Polymers is one of the leading indenting company in Bangladesh. It is a sister concern of <a
                            href="https://neyamat101.github.io/" target="_blank">Top Rank</a> that was formed in the year 1987. Since then, the company has been engaged in trading of Polymer, PVC Chemicals, Ceramic Raw Materials, Glass Raw Materials, Films , Oleo Chemicals, Pulp & Paper, Solvents, Synthetic Rubber, etc. The company was established by two individuals who are blessed with many years of experience in the Trading and import/export arena.
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box">
                            <i class="bx bx-receipt"></i>
                            <h4>Mission</h4>
                            <p>To develop and maintain long-term business relationship with our suppliers and buyers by
                                creating a win-win situation.</p>
                        </div>
                        <div class="col-md-6 icon-box">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Commitment</h4>
                            <p>Uncompromising integrity to supply quality materials and to strengthen supply chain.</p>
                        </div>
                        <div class="col-md-12 icon-box">
                            <i class="bx bx-images"></i>
                            <h4>Future Opportunities</h4>
                            <p>We are aggressively seeking to represent foreign (Non–Bangladeshi) Industries or
                                Suppliers for Bangladesh market for Polymer, PVC Chemicals, Ceramic Raw Materials, Glass
                                Raw Materials, Film, Oleo Chemicals, Pulp & Paper, Solvent, Synthetic Rubber, etc. With
                                our vast knowledge and contacts in the local and ASEAN market, we act like a good
                                strategic partner of our foreign suppliers.
                            </p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->
