<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <!--<iframe class="contact-map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14598.477203573779!2d90.36831680091484!3d23.83213295400449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7c2c90e5d1f%3A0x1666c7453e415a1d!2sRupayan%20P%20%26%20F%20Square!5e0!3m2!1sen!2sbd!4v1593174819840!5m2!1sen!2sbd"
                allowfullscreen></iframe>-->
            <div class="contact-map d-none d-md-block">
                <img src="../assets/img/map.png" class="img-fluid" alt="Desktop-map">
            </div>
            <div class="contact-map d-block d-md-none d-lg-none">
                <img src="../assets/img/map_small.png" class="img-fluid" alt="Mobile-map">
            </div>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="icofont-google-map"></i>
                    <h3>Head office</h3>
                    <address>
                        Rupayan P & F Sq., Plot #62/5/E, 6th Floor, North Kalshi, Mirpur, Dhaka-1216, Bangladesh.
                    </address>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-phone contact-detail">
                    <i class="icofont-location-arrow"></i>
                    <h3>Branch offices</h3>
                    <address>
                        <strong>Banani Office:</strong> Apt # B5, Green Primavera House # 35, Road # 17, Block # E, Banani, Dhaka 1213, Bangladesh.
                    </address> <br>
                    <address>
                        <strong>Chittagong Office:</strong> House # 417, Road # 12 CDA R/A, Agrabad Chittagong-4100, Bangladesh.
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <!-- <div class="contact-email">
                    <i class="icofont-envelope"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:info@toppolymersbd.com">info@toppolymersbd.com</a></p>
                </div> -->
                <div class="contact-email contact-detail">
                    <!-- <i class="icofont-phone"></i> -->
                    <i class="icofont-address-book"></i>
                    <h3>Contact Details</h3>
                    <p><strong>Phone:</strong> <a href="tel:+88-02-8836220">+88-02-8836220</a> / <a
                            href="tel:+88-02-8833137">88-02-8833137</a> <br>
                        <strong>Tel:</strong> <a href="tel:+88-31-713746">+88-31-713746 (Chittagong)</a><br>
                        <strong>Fax:</strong><a href="Fax:+88028834623">+88028834623</a><br><strong>Mobile:</strong>
                        (+88) 01829389880, <br/>(+88) 01855312385, (+88) 01735245275 <br><strong>Email:</strong><a
                            href="mailto:info@toppolymersbd.com">info@toppolymersbd.com</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Contact Section -->
