<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
<div class="container">

<div class="row no-gutters">

<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
<div class="count-box">
<!-- <i class="icofont-document-folder"></i> -->
<i class="fa fa-archive" aria-hidden="true"></i>
<span data-toggle="counter-up">250</span>
<p><strong>Trading Items</strong></p>
</div>
</div>

<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
<div class="count-box">
<i class="icofont-live-support"></i>
<span data-toggle="counter-up">24</span>
<p><strong>Hours Customer Service</strong></p>
</div>
</div>

<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
<div class="count-box">
<i class="icofont-simple-smile"></i>
<span data-toggle="counter-up">500</span>
<p><strong>Happy Clients</strong></p>
</div>
</div>

<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
<div class="count-box">
<!-- <i class="icofont-users-alt-5"></i> -->
<i class="fas fa-address-card"></i>
<span data-toggle="counter-up">5</span>
<p><strong>Number of Offices</strong></p>
</div>
</div>

</div>

</div>
</section><!-- End Counts Section -->
