<!-- ======= Films Section ======= -->
<section id="films" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Films</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/films.jpg" class="img-fluid" alt="Films">
            </div>

        </div>

    </div>
</section>
<!-- End Films Section -->

<!-- --Start BOPP Film Section -- -->
<section id="bopp-film" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">BOPP Film</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BOPP Film</td>
                        <td class="desc">For Packaging & Flexible Printing Industry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End BOPP Film Section -->

<!-- --Start PET Film Section -- -->
<section id="pet-film" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">PET Film</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PET Film</td>
                        <td class="desc">For Packaging & Flexible Printing Industry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End PET Film Section -->

<!-- --Start Metalized Film Section -- -->
<section id="metalized-film" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Metalized Film</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Metalized Film</td>
                        <td class="desc">For Packaging & Flexible Printing Industry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Metalized Film Section -->

<!-- --Start PVC Sheet Section -- -->
<section id="pvc-sheet" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">PVC Sheet</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PVC Sheet</td>
                        <td class="desc">For Packaging & Flexible Printing Industry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End PVC Sheet Section -->
