<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Top Polymers</h3>
                        <p>Rupayan P & F Sq., Plot #62/5/E, 6th Floor, North Kalshi, Mirpur, Dhaka-1216, Bangladesh.<br><br>
                            <strong>Phone:</strong> +88-02-8836220/88-02-8833137<br>
                            <strong>Fax:</strong> +88028834623<br>
                            <strong>Mobile:</strong> (+88) 01829389880,<br> (+88) 01855312385, <br/>(+88) 01735245275.<br><br>
                            <strong>Email:</strong>
                            info@toppolymersbd.com
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/Top-Polymers-BD-110993980663894/" class="facebook"
                                target="_blank"><i class="bx bxl-facebook"></i></a>
                            <a href="skype:jashia.khan?call" class="google-plus" target="_blank"><i
                                    class="bx bxl-skype"></i></a>
                            <a href=" https://api.whatsapp.com/send?phone=01855312385" target="_blank" class="whatsapp"
                                title="Whatsapp"><i class='bx bxl-whatsapp'></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#CompanyProfile" class="scrollto">Company Profile</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#product" class="scrollto">Product</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#buyer-supplier" class="scrollto">Buyer/Supplier Base</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Indenting</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Trading</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Consultancy</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Clearing & Forwarding Agent</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>About Us</h4>
                    <p>Top Polymers is a sister concern of <a href="#">Top
                        Rank</a> which was formed in the year 1987. Since then, the company has been engaged in trading of Polymers, PVC Chemicals, Ceramic Raw Materials, Glass Raw Materials, Films, Oleo Chemicals, Pulp & Paper, Solvent, Synthetic Rubbers, etc.</p>
                    <h4>Our Companies</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Top Rank</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Top Polymers</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://www.simplexhub.com/"
                                target="_blank">Simplexhub</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://www.gskglobal.com.au/"
                                target="_blank">GSK Global</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Top Polymers</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Developed by <a href="http://www.simplexhub.com/" target="_blank">Simplexhub</a>
        </div>
        <div class="footer-logo text-center mt-3">
            <a href="#"><img src="../assets/img/ISO_logo.png" class="img-fluid mb-2" alt="ISO_logo" /></a>
            <a href="/" class="logo custom-logo"><img src="../assets/img/Logo.png" alt="Logo" class="img-fluid"/></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
