<!-- ======= Glass Raw Material Section ======= -->
<section id="glass-raw-material" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Glass Raw Material</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/glass-raw-materials.jpg" class="img-fluid" alt="GlassRawMaterial">
            </div>

        </div>

    </div>
</section>
<!-- End Glass Raw Material Section -->

<!-- --Start Alumina (Smelter Grade) Section -- -->
<section id="alumina" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Alumina (Smelter Grade)</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alumina (Smelter Grade)</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Alumina (Smelter Grade) Section -->

<!-- --Start Alumina Oxide Section -- -->
<section id="alumina-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Alumina Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alumina Oxide</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Alumina Oxide Section -->

<!-- --Start Aluminium Hydroxide Section -- -->
<section id="aluminium-hydroxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Aluminium Hydroxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Aluminium Hydroxide</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Talcum Section -->

<!-- --Start Barium Carbonate Section -- -->
<section id="barium-carbonate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Barium Carbonate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Barium Carbonate</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Barium Carbonate Section -->

<!-- --Start Borax Pentahydrate Section -- -->
<section id="borax-pentahydrate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Borax Pentahydrate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Borax Pentahydrate</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Borax Pentahydrate Section -->

<!-- --Start Calcined Bauxite Section -- -->
<section id="calcined-bauxite" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Calcined Bauxite</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Calcined Bauxite</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Calcined Bauxite Section -->

<!-- --Start Copper Oxide Section -- -->
<section id="copper-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Copper Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Copper Oxide</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Copper Oxide Section -->

<!-- --Start Iron Oxide Section -- -->
<section id="iron-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Iron Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Iron Oxide</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Iron Oxide Section -->

<!-- --Start Lithium Carbonate Section -- -->
<section id="lithium-carbonate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Lithium Carbonate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lithium Carbonate</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Lithium Carbonate Section -->

<!-- --Start Nickel Oxide Section -- -->
<section id="nickel-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Nickel Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nickel Oxide</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Nickel Oxide Section -->

<!-- --Start Rare Earth Section -- -->
<section id="rare-earth" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Rare Earth</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rare Earth</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Rare Earth Section -->

<!-- --Start Sodium Nitrate Section -- -->
<section id="sodium-nitrate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Sodium Nitrate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sodium Nitrate</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Sodium Nitrate Section -->

<!-- --Start Sodium Silico Fluoride Section -- -->
<section id="sodium-silico-fluoride" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Sodium Silico Fluoride</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sodium Silico Fluoride</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Sodium Silico Fluoride Section -->

<!-- --Start Sodium Sulfate Section -- -->
<section id="sodium-sulfate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Sodium Sulfate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sodium Sulfate</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Sodium Sulfate Section -->

<!-- --Start Spodument Section -- -->
<section id="spodument" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Spodument</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Spodument</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Spodument Section -->

<!-- --Start Strontium Carbonate Section -- -->
<section id="strontium-carbonate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Strontium Carbonate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Strontium Carbonate</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Strontium Carbonate Section -->

<!-- --Start Strontium Oxide Section -- -->
<section id="strontium-oxide" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Strontium Oxide</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Strontium Oxide</td>
                        <td class="desc">Producing Glasses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Strontium Oxide Section -->
