<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="index.html" class="logo mr-auto"><img src="../assets/img/Logo.png" alt="Top Polymers"
                class="img-fluid" /></a>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#CompanyProfile">Company Profile</a></li>
                <li><a href="#services">Services</a></li>
                <li class="drop-down"><a href="#product">Product</a>
                    <ul>
                        <li class="drop-down"><a href="/product/#polymers">Polymers</a>
                            <ul>
                                <li><a href="/product/#polypropylene">Polypropylene (PP)</a></li>
                                <li><a href="/product/#ldpe">Low Density Polyethylene (LDPE)</a></li>
                                <li><a href="/product/#lldpe">Linear Low Density Polyethylene (LLDPE)</a></li>
                                <li><a href="/product/#hdpe">High Density Polyethylene (HDPE)</a></li>
                                <li><a href="/product/#polystyrene">Polystyrene (PS – GPPS & HIPS)</a></li>
                                <li><a href="/product/#pvc">Poly Vinyl Chloride (PVC)</a></li>
                                <li><a href="/product/#eva">Ethylene Vinyl Acetate (EVA)</a></li>
                                <li><a href="/product/#abs">Acrylonitrile Butadiene Styrene (ABS)</a></li>
                                <li><a href="/product/#styrene-acrylonitrile">Styrene Acrylonitrile (SAN)</a></li>
                                <li><a href="/product/#engineering-plastics">Engineering Plastics</a></li>
                                <li><a href="/product/#pet-resin">PET Resin</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#pvc-chemicals">Pvc Chemicals</a>
                            <ul>
                                <li><a href="/product/#calcium-carbonate">Calcium Carbonate – (Coated & Un-Coated)</a>
                                </li>
                                <li><a href="/product/#dbls">DBLS</a></li>
                                <li><a href="/product/#paraffin-wax">paraffin wax</a></li>
                                <li><a href="/product/#polyethlene-wax">Polyethlene Wax</a></li>
                                <li><a href="/product/#pvc-stabilizer">Pvc Stabilizer</a></li>
                                <li><a href="/product/#tbls">TBLS</a></li>
                                <li><a href="/product/#ti02">TI02 (titanium dioxide)</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#ceramic-raw-materials">Ceramic Raw Materials</a>
                            <ul>
                                <li><a href="/product/#alumina-ball-lining">Alumina Ball And Lining</a></li>
                                <li><a href="/product/#alumina-oxide">Alumina Oxide</a></li>
                                <li><a href="/product/#ball-clay">Ball Clay</a></li>
                                <li><a href="/product/#barium-oxide">Barium Oxide</a></li>
                                <li><a href="/product/#ceramic-roll">Ceramic Roll</a></li>
                                <li><a href="/product/#dolomite">Dolomite</a></li>
                                <li><a href="/product/#kaolin">Kaolin</a></li>
                                <li><a href="/product/#litharge-yellow-lead">Litharge Yellow Lead</a></li>
                                <li><a href="/product/#orange-lead">Orange Lead</a></li>
                                <li><a href="/product/#potash-feldspar">Potash Feldspar</a></li>
                                <li><a href="/product/#silica-powder">Silica Powder</a></li>
                                <li><a href="/product/#sodium-feldspar">Sodium Feldspar</a></li>
                                <li><a href="/product/#talcum">Talcum</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#glass-raw-material">Glass Raw Material</a>
                            <ul>
                                <li><a href="/product/#alumina">Alumina (Smelter Grade)</a></li>
                                <li><a href="/product/#alumina-oxide">Alumina Oxide</a></li>
                                <li><a href="/product/#aluminium-hydroxide">Aluminium Hydroxide</a></li>
                                <li><a href="/product/#barium-carbonate">Barium Carbonate</a></li>
                                <li><a href="/product/#borax-pentahydrate">Borax Pentahydrate</a></li>
                                <li><a href="/product/#calcined-bauxite">Calcined Bauxite</a></li>
                                <li><a href="/product/#copper-oxide">Copper Oxide</a></li>
                                <li><a href="/product/#iron-oxide">Iron Oxide</a></li>
                                <li><a href="/product/#lithium-carbonate">Lithium Carbonate</a></li>
                                <li><a href="/product/#nickel-oxide">Nickel Oxide</a></li>
                                <li><a href="/product/#rare-earth">Rare Earth</a></li>
                                <li><a href="/product/#sodium-nitrate">Sodium Nitrate</a></li>
                                <li><a href="/product/#sodium-silico-fluoride">Sodium Silico Fluoride</a></li>
                                <li><a href="/product/#sodium-sulfate">Sodium Sulfate</a></li>
                                <li><a href="/product/#spodument">Spodument</a></li>
                                <li><a href="/product/#strontium-carbonate">Strontium Carbonate</a></li>
                                <li><a href="/product/#strontium-oxide">Strontium Oxide</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#films">Films</a>
                            <ul>
                                <li><a href="/product/#bopp-film">BOPP Film</a></li>
                                <li><a href="/product/#pet-film">PET Film</a></li>
                                <li><a href="/product/#metalized-film">Metalized Film</a></li>
                                <li><a href="/product/#pvc-sheet">PVC Sheet</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#oleo-chemicals">Oleo Chemicals</a>
                            <ul>
                                <li><a href="/product/#stearic-acid">Stearic Acid</a></li>
                                <li><a href="/product/#glycerine">Glycerine</a></li>
                                <li><a href="/product/#cetyl-alcohol">Cetyl Alcohol</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#pulp-papers">Pulp & Papers</a>
                            <ul>
                                <li><a href="/product/#pulp">Pulp</a></li>
                                <li><a href="/product/#papers">Paper</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#solvents">Solvents</a>
                            <ul>
                                <li><a href="/product/#xylene">Xylene</a></li>
                                <li><a href="/product/#toluene">Toluene</a></li>
                                <li><a href="/product/#aceton">Aceton</a></li>
                                <li><a href="/product/#methanol">Methanol</a></li>
                                <li><a href="/product/#ethyl-acetate">Ethyl Acetate</a></li>
                                <li><a href="/product/#ipa">IPA</a></li>
                                <li><a href="/product/#mek">MEK</a></li>
                                <li><a href="/product/#octanol">Octanol (2-EH)</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="/product/#synthetic-rubber">Synthetic Rubber</a>
                            <ul>
                                <li><a href="/product/#butadiene-rubber">Butadiene Rubber (BR)</a></li>
                                <li><a href="/product/#styrene-butadiene-rubber">Styrene Butadiene Rubber (SBR)</a></li>
                                <li><a href="/product/#chloroprene-rubber">Chloroprene Rubber.Input content…</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#buyer-supplier">Buyer/Supplier Base</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#career">Career</a></li>
                <li><a href="https://www.facebook.com/Top-Polymers-BD-110993980663894/" target="_blank">News</a></li>

            </ul>
        </nav>

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(../assets/img/slide/slide-1.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Your trusted partner in marketing</h2>
                            <p class="animate__animated animate__fadeInUp">Your trusted partner in marketing and
                                sourcing of Polymer, PVC Chemicals, Ceramic Raw Materials, Glass Raw
                                Materials, Film, Oleo Chemicals, Solvent, Synthetic Rubber, Pulp & Paper</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background: url(../assets/img/slide/slide-2.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Expert indenting firm with years of
                                experience and connections</h2>
                            <p class="animate__animated animate__fadeInUp">We sell materials to Bangladeshi customers
                                from our overseas suppliers</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background: url(../assets/img/slide/slide-3.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Let's work together</h2>
                            <p class="animate__animated animate__fadeInUp">We stand for our partners and with our vast
                                experience, talent and devotion we bring success</p>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->