<!-- ======= Portfolio Section ======= -->
<section id="product" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Our Product</h2>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">

                    <img src="../assets/img/home-picture/polymers.jpg" class="img-fluid" alt="polymers">
                    <a href="/product/#polymers" title="More Details">
                        <div class="portfolio-info">
                            <h4>POLYMERS</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/pvc-chemicals.jpg" class="img-fluid" alt="PvcChemicals">
                    <a href="/product/#pvc-chemicals" title="More Details">
                        <div class="portfolio-info">
                            <h4>PVC CHEMICALS</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/ceramic-raw-materials.jpg" class="img-fluid"
                        alt="Ceramic Raw Materials">
                    <a href="/product/#ceramic-raw-materials" title="More Details">
                        <div class="portfolio-info">
                            <h4>CERAMIC RAW MATERIALS</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/glass-raw-materials.jpg" class="img-fluid"
                        alt="Glass Raw Material">
                    <a href="/product/#glass-raw-material" title="More Details">
                        <div class="portfolio-info">
                            <h4>GLASS RAW MATERIAL</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/films.jpg" class="img-fluid" alt="films">
                    <a href="/product/#films" title="More Details">
                        <div class="portfolio-info">
                            <h4>FILMS</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/oleo-chemicals.jpg" class="img-fluid" alt="Oleo Chemicals">
                    <a href="/product/#oleo-chemicals" title="More Details">
                        <div class="portfolio-info">
                            <h4>OLEO CHEMICALS</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/pulp-paper.jpg" class="img-fluid" alt="pulp-paper">
                    <a href="/product/#pulp-papers" title="More Details">
                        <div class="portfolio-info">
                            <h4>PULP & PAPER</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/solvents.jpg" class="img-fluid" alt="Solvent">
                    <a href="/product/#solvents" title="More Details">
                        <div class="portfolio-info">
                            <h4>SOLVENTS</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../assets/img/home-picture/synthetic-rubber.jpg" class="img-fluid" alt="synthetic-rubber">
                    <a href="/product/#synthetic-rubber" title="More Details">
                        <div class="portfolio-info">
                            <h4>SYNTHETIC RUBBER</h4>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Portfolio Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>Why Choose Us</h2>
            <p>To find the right products at the right price can be confusing.<br>Why you should choose us?</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box">
                    <h4>Service Commitment</h4>
                    <p>We are committed of providing first class service to our customers. We can understand your
                        requirements easily. We care
                        our customers, we’re efficient, helpful and friendly.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <h4>Value</h4>
                    <p>Every customer is valuable to us. We offer wide range of quality products at competitive price.
                        Check us out.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <h4>Our Experience</h4>
                    <p>Our mother company ‘Top Rank’ established in 1987. We have long experience in handling/selling
                        products of our overseas
                        principals in Bangladesh as a reputed agent. We are well known in indenting sector of Bangladesh
                        Market since last <span id="yrPassed"></span> years.</p>
                    <script>
                        var yrStart = 1987;
                        var yrEnd = Date().split(" ")[3];
                        console.log(yrEnd - yrStart);
                        document.getElementById("yrPassed").innerHTML = yrEnd - yrStart;
                    </script>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <h4>Nice ‘N’ Easy</h4>
                    <p>We try to make things easy. Our required clauses in the L/Cs are acceptable to all. We don’t ask
                        any complicated clause
                        in the L/C. So customers can easily open LC which saves time, money and finally they get the
                        materials on time.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <h4>Claims Service</h4>
                    <p>We’re here to resolve your claims/asking (if any) through a speedy conclusion. We liaison with
                        supplier & customer to
                        ensure that claim is handled properly.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="box">
                    <h4>Testimonials</h4>
                    <p>We got majority of our customers through recommendation. Our excellent service and competitive
                        prices keeps them coming
                        back to us again!</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->