<!-- ======= Oleo Chemicals Section ======= -->
<section id="oleo-chemicals" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Oleo Chemicals</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/oleo-chemicals.jpg" class="img-fluid" alt="OleoChemicals">
            </div>

        </div>

    </div>
</section>
<!-- End Oleo Chemicals Section -->

<!-- --Start Stearic Acid Section -- -->
<section id="stearic-acid" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Stearic Acid</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Stearic Acid</td>
                        <td class="desc">Producing Oil</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Stearic Acid Section -->

<!-- --Start Glycerine Section -- -->
<section id="glycerine" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Glycerine</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Glycerine</td>
                        <td class="desc">Producing Oil</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Glycerine Section -->

<!-- --Start Cetyl Alcohol Section -- -->
<section id="cetyl-alcohol" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Cetyl Alcohol</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cetyl Alcohol</td>
                        <td class="desc">Producing Oil</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Cetyl Alcohol Section -->
