<!-- ======= Polymers Section ======= -->
<section id="polymers" class="polymers mt-4">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">

                <h2>Polymers</h2>
                <h6>We have strong sourcing from top petrochemical manufacturers worldwide.</h6>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/polymers.jpg" class="img-fluid" alt="Polymers">
            </div>

        </div>

    </div>
</section>
<!-- End Polymers Section -->

<!-- --Start Polypropylene Section -- -->
<section id="polypropylene" class="services product-section">
    <div class="container">

        <!-- <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Polypropylene (PP)</h6>
                        </th>
                        <th scope="col"></th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">MFI</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PP Impact Copolymer</td>
                        <td>Injection Molding <br>(High Impact Strength)</td>
                        <td>3-50</td>
                        <td>Household Products, furniture, Baby car <br>
                            parts, paint drum, storage boxes etc</td>
                        <td>Taiwan, Saudi Arabia, Korea, Iran & UAE.</td>
                    </tr>
                    <tr>
                        <td>PP Random Copolymer</td>
                        <td>Injection Molding</td>
                        <td>12-35</td>
                        <td>Housewares, transparency Food containers, <br>
                            All kinds of thin containers.</td>
                        <td>Saudi Arabia, Korea, Iran & Taiwan</td>
                    </tr>
                    <tr>
                        <td>PP Homopolymer</td>
                        <td>Film</td>
                        <td>10-12</td>
                        <td>General purpose films, garment bags, <br>
                            shopping bags, packaging bags, etc</td>
                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                    </tr>
                    <tr>
                        <td>PP Homopolymer</td>
                        <td>Injection Molding</td>
                        <td>10-15</td>
                        <td>House wares, furniture, hangers, <br>
                            closures, food containers etc.</td>
                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                    </tr>
                    <tr>
                        <td>PP Homopolymer</td>
                        <td>Flat Yarn/Raffia</td>
                        <td>3-4.5</td>
                        <td>Woven bags for cement industry and <br>
                            for various packing.</td>
                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                    </tr>
                </tbody>
            </table>
        </div> -->

        <!-- <div class="section-title">
            <h6>We have strong sourcing from top petrochemical manufacturers worldwide.</h6>
            <h6>We can submit you sample if required.</h6>
        </div> -->

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Polypropylene (PP)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PP Impact Copolymer<br>Injection Molding(High Impact Strength)<br>
                            MFI: 3-50</td>
                        <td>Household Products, furniture, Baby car <br>
                            parts, paint drum, storage boxes etc</td>
                        <td>Taiwan, Saudi Arabia, Korea, Iran, UAE, India, Vietnam and China</td>
                    </tr>
                    <tr>
                        <td>PP Random Copolymer<br>Injection Molding<br>MFI: 12-35</td>
                        <td>Housewares, transparency Food containers, <br>
                            All kinds of thin containers</td>
                        <td>Saudi Arabia, Korea, Iran, aiwan, India, Vietnam and China</td>
                    </tr>
                    <tr>
                        <td>PP Homopolymer<br>Film<br>MFI: 10-12</td>
                        <td>General purpose films, garment bags, <br>
                            shopping bags, packaging bags, etc</td>
                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE, Taiwan, India, Vietnam and China</td>
                    </tr>
                    <tr>
                        <td>PP Homopolymer<br>Injection Molding<br>MFI: 10-15</td>
                        <td>House wares, furniture, hangers, <br>
                            closures, food containers etc</td>
                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE, Taiwan, India, Vietnam and China</td>
                    </tr>
                    <tr>
                        <td>PP Homopolymer<br>Flat Yarn/Raffia<br>MFI: 3-4.5</td>
                        <td>Woven bags for cement industry and <br>
                            for various packing</td>
                        <td>Saudi Arabia, Korea, Iran, Thailand, UAE, Taiwan, India, Vietnam and China</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
<!-- End Polypropylene Section -->

<!-- --Start LDPE Section -- -->
<!-- <section id="ldpe" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Low Density Polyethylene (LDPE)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">MFI</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LDPE Film Grade</td>
                        <td>1.9-5</td>
                        <td>General purpose bags, garment <br>
                            bags, shrink films etc</td>
                        <td>Saudi Arabia, Korea, Iran, UAE & Malaysia.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="ldpe" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Low Density Polyethylene (LDPE)</h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LDPE Film Grade<br>MFI: 1.9-5</td>
                        <td>General purpose bags, garment <br>
                            bags, shrink films etc</td>
                        <td>Saudi Arabia, Korea, Iran, UAE, Malaysia, India and China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End LDPE Section -->

<!-- --Start LLDPE Section -- -->
<!-- <section id="lldpe" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Linear Low Density Polyethylene (LLDPE)
                            </h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">MFI</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LLDPE Film Grade</td>
                        <td>1-2</td>
                        <td>General purpose films, liner film, <br>
                            food packaging, garment bags, etc</td>
                        <td>Saudi Arabia, Korea, Iran, UAE, <br>
                            Philippines & Malaysia.</td>
                    </tr>
                    <tr>
                        <td>LLDPE Roto Molding Grade</td>
                        <td>3-7</td>
                        <td>Water tanks, storage tanks, containers, <br>
                            general purpose molding, etc</td>
                        <td>Malaysia, Iran & Taiwan.</td>
                    </tr>
                    <tr>
                        <td>LLDPE Injection</td>
                        <td>3-7</td>
                        <td>Water tanks, storage tanks, containers, <br>
                            general purpose molding, etc</td>
                        <td>Malaysia, Iran & Taiwan.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="lldpe" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Linear Low Density Polyethylene (LLDPE)
                            </h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LLDPE Film Grade<br>MFI: 1-2</td>
                        <td>General purpose films, liner film, <br>
                            food packaging, garment bags, etc</td>
                        <td>Saudi Arabia, Korea, Iran, UAE, <br>
                            Philippines, Malaysia, India, China</td>
                    </tr>
                    <tr>
                        <td>LLDPE Roto Molding Grade<br>MFI: 3-7</td>
                        <td>Water tanks, storage tanks, containers, <br>
                            general purpose molding, etc</td>
                        <td>Malaysia, Iran, Taiwan, India, China</td>
                    </tr>
                    <tr>
                        <td>LLDPE Injection<br>MFI: 3-7</td>
                        <td>Water tanks, storage tanks, containers, <br>
                            general purpose molding, etc</td>
                        <td>Malaysia, Iran, Taiwan, India, China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End LLDPE Section -->

<!-- End HDPE Section -->
<!-- <section id="hdpe" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">High Density Polyethylene (HDPE)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">MFI</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HDPE Film Grade</td>
                        <td>8-10</td>
                        <td>Blown films, such as general purpose bags, <br>
                            liner films, bags on rolls, garbage bags, <br>
                            industrial films, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</td>
                    </tr>
                    <tr>
                        <td>HDPE Injection Grade</td>
                        <td>6-20</td>
                        <td>Toys, auto parts, garbage bin, industrial <br>
                            products, cap & closures, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</td>
                    </tr>
                    <tr>
                        <td>HDPE Yarn Grade</td>
                        <td>0.8</td>
                        <td>Woven sack, fishing net, rope, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</td>
                    </tr>
                    <tr>
                        <td>HDPE Cap Grade</td>
                        <td>3.7-12</td>
                        <td>Caps and closures of minerals/stilled, <br>
                            sparkling, and carbonated water, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</td>
                    </tr>
                    <tr>
                        <td>HDPE Pipe Grade</td>
                        <td>3.7-12</td>
                        <td>For making HDPE Pipe</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</td>
                    </tr>
                    <tr>
                        <td>HDPE Blow Molding</td>
                        <td>0.25-0.6</td>
                        <td>Milk bottles, food packaging, drinking water bottles, <br>
                            household products, or personal care/detergent/ <br>
                            chemical/lubricant oil containers, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="hdpe" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">High Density Polyethylene (HDPE)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HDPE Film Grade<br>MFI: 8-10</td>
                        <td>Blown films, such as general purpose bags, <br>
                            liner films, bags on rolls, garbage bags, <br>
                            industrial films, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan, India, China</td>
                    </tr>
                    <tr>
                        <td>HDPE Injection Grade<br>MFI: 6-20</td>
                        <td>Toys, auto parts, garbage bin, industrial <br>
                            products, cap & closures, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan, India, China</td>
                    </tr>
                    <tr>
                        <td>HDPE Yarn Grade<br>MFI: 0.8</td>
                        <td>Woven sack, fishing net, rope, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan, India, China</td>
                    </tr>
                    <tr>
                        <td>HDPE Cap Grade<br>MFI: 3.7-12</td>
                        <td>Caps and closures of minerals/stilled, <br>
                            sparkling, and carbonated water, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan, India, China</td>
                    </tr>
                    <tr>
                        <td>HDPE Pipe Grade<br>MFI: 3.7-12</td>
                        <td>For making HDPE Pipe</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan, India, China</td>
                    </tr>
                    <tr>
                        <td>HDPE Blow Molding<br>MFI: 0.25-0.6</td>
                        <td>Milk bottles, food packaging, drinking water bottles, <br>
                            household products, or personal care/detergent/ <br>
                            chemical/lubricant oil containers, etc</td>
                        <td>Malaysia, Saudi Arabia, Iran, UAE, Tiawan, India, China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End HDPE Section -->

<!-- --Start Polystyrene Section -- -->
<!-- <section id="polystyrene" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Polystyrene (PS – GPPS & HIPS)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">MFI</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>General Purpose Polystyrene (GPPS)</td>
                        <td>2-8</td>
                        <td>Garments Hanger, Electrical Appliances, household <br>
                            product, toys, sanitary ware, etc</td>
                        <td>Iran, Thailand and Taiwan.</td>
                    </tr>
                    <tr>
                        <td>High Impact Polystyrene (HIPS)</td>
                        <td>2-8</td>
                        <td>Garments Hanger, Electrical Appliances, household <br>
                            product, toys, sanitary ware, etc</td>
                        <td>Iran, Thailand and Taiwan.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="polystyrene" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Polystyrene (PS – GPPS & HIPS)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>General Purpose Polystyrene (GPPS)<br>MFI: 2-8</td>
                        <td>Garments Hanger, Electrical Appliances, household <br>
                            product, toys, sanitary ware, etc</td>
                        <td>Iran, Thailand, Taiwan, Korea, India, China</td>
                    </tr>
                    <tr>
                        <td>High Impact Polystyrene (HIPS)<br>MFI: 2-8</td>
                        <td>Garments Hanger, Electrical Appliances, household <br>
                            product, toys, sanitary ware, etc</td>
                        <td>Iran, Thailand, Taiwan, Korea, India, China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Polystyrene Section -->

<!-- --Start PVC Section -- -->
<!-- <section id="pvc" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Poly Vinyl Chloride (PVC)</h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>K -Value 58~62</td>
                        <td>Pipe fitting, hollow-vacuum forming, rigid film, shrinkable film, etc</td>
                    </tr>
                    <tr>
                        <td>K -Value 65~67</td>
                        <td>PVC Films/sheet, beach chair, rigid pipe, hose, low temperature wire and cable insulation,
                            etc</td>
                    </tr>
                    <tr>
                        <td>High Impact Flexible Product</td>
                        <td>PVC Leather, film, furniture, shoes, etc</td>
                    </tr>
                    <tr>
                        <td>High Impact Sheet</td>
                        <td>High voltage wire and cable insulation, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="pvc" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Poly Vinyl Chloride (PVC)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>K -Value 58~62</td>
                        <td>Pipe fitting, hollow-vacuum forming, rigid film, shrinkable film, etc</td>
                        <td>Taiwan, USA, China and Europe</td>
                    </tr>
                    <tr>
                        <td>K -Value 65~67</td>
                        <td>PVC Films/sheet, beach chair, rigid pipe, hose, low temperature wire and cable etc</td>
                        <td>Taiwan, USA, China and Europe</td>
                    </tr>
                    <tr>
                        <td>High Impact Flexible Product</td>
                        <td>PVC Leather, film, furniture, shoes, etc</td>
                        <td>Taiwan, USA, China and Europe</td>
                    </tr>
                    <tr>
                        <td>High Impact Sheet</td>
                        <td>High voltage wire and cable insulation, etc</td>
                        <td>Taiwan, USA, China and Europe</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End PVC Section -->

<!-- --Start EVA Section -- -->
<!-- <section id="eva" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Ethylene Vinyl Acetate (EVA)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">MFI</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vinyl Acetate Content</td>
                        <td>9-18%</td>
                        <td>Shoe sole, Film, coating, etc</td>
                        <td>Korea & Taiwan.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section-title">
            <h6>We have strong sourcing from top petrochemical manufacturers worldwide.</h6>
            <h6>We can submit you sample if required.</h6>
        </div>
    </div>
</section> -->
<section id="eva" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Ethylene Vinyl Acetate (EVA)</h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                        <th>
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vinyl Acetate Content<br>MFI: 9-18%</td>
                        <td>Shoe sole, Film, coating, etc</td>
                        <td>Korea, Taiwan, China, India, Saudi Arabia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End EVA Section -->

<!-- --Start ABS Section -- -->
<!-- <section id="abs" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Acrylonitrile Butadiene Styrene (ABS)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Description</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Acrylonitrile Butadiene Styrene (ABS)</td>
                        <td>We have strong sourcing from top petrochemical manufacturers worldwide. We can submit you
                            sample if required.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="abs" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Acrylonitrile Butadiene Styrene (ABS)</h6>
                        </th>
                        <!--<th>
                            <h6 class="mb-0 font-weight-bold">Description</h6>
                        </th>-->
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Acrylonitrile Butadiene Styrene (ABS)</td>
                        <!--<td>We have strong sourcing from top petrochemical manufacturers worldwide. We can submit you
                            sample if required.</td>-->
                        <td class="desc">Iran, Thailand, Taiwan, Saudi Arabia, Korea and China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End ABS Section -->

<!-- --Start Styrene Acrylonitrile Section -- -->
<!-- <section id="styrene-acrylonitrile" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Styrene Acrylonitrile (SAN)</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Description</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Styrene Acrylonitrile (SAN)</td>
                        <td>We have strong sourcing from top petrochemical manufacturers worldwide. We can submit you
                            sample if required.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="styrene-acrylonitrile" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Styrene Acrylonitrile (SAN)</h6>
                        </th>
                        <!--<th>
                            <h6 class="mb-0 font-weight-bold">Description</h6>
                        </th>-->
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Styrene Acrylonitrile (SAN) <br><br></td>
                        <!--<td>We have strong sourcing from top petrochemical manufacturers worldwide. We can
                            submit you
                            sample if required.</td>-->
                        <td class="desc">Iran, Thailand, Taiwan, Saudi Arabia, Korea and China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Styrene Acrylonitrile Section -->

<!-- --Start Engineering Plastics Section -- -->
<!-- <section id="engineering-plastics" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Engineering Plastics</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Description</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Engineering Plastics</td>
                        <td>We have strong sourcing from top petrochemical manufacturers worldwide. We can submit you
                            sample if required.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->
<section id="engineering-plastics" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Engineering Plastics</h6>
                        </th>
                        <!--<th class="desc">
                            <h6 class="mb-0 font-weight-bold">Description</h6>
                        </th>-->
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Engineering Plastics</td>
                        <!--<td class="desc">We have strong sourcing from top petrochemical manufacturers worldwide. We can
                            submit you
                            sample if required.</td>-->
                        <td class="desc">Iran, Thailand, Taiwan, Saudi Arabia, Korea and China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Engineering Plastics Section -->

<!-- --Start PET Resin Section -- -->
<!-- <section id="pet-resin" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">PET Resin</h6>
                        </th>
                        <th scope="col">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I.V. Value: 0.80</td>
                        <td>Thailand, Malaysia, Taiwan & China</td>
                    </tr>

                    <tr>
                        <td>I.V. Value: 0.84</td>
                        <td>Thailand, Malaysia, Taiwan & China</td>
                    </tr>

                    <tr>
                        <td>I.V. Value: 0.88</td>
                        <td>Thailand, Malaysia, Taiwan & China</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="section-title">
            <h6>We have strong sourcing from top petrochemical manufacturers worldwide.</h6>
            <h6>We can submit you sample if required.</h6>
        </div>
    </div>
</section> -->
<section id="pet-resin" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">PET Resin</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I.V. Value: 0.80</td>
                        <td class="desc">Thailand, Oman, India, Malaysia, Taiwan & China</td>
                    </tr>

                    <tr>
                        <td>I.V. Value: 0.84</td>
                        <td class="desc">Thailand, Oman, India, Malaysia, Taiwan & China</td>
                    </tr>

                    <tr>
                        <td>I.V. Value: 0.88</td>
                        <td class="desc">Thailand, Oman, India, Malaysia, Taiwan & China</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- End PET Resin Section -->


<!-- <section id="polypropylene" class="services product-section">
    <div class="container">

        <div class="product-hover">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="section-header mb-0 font-weight-bold">Polypropylene (PP)</h6>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <span class="mb-0 font-weight-bold hidden-md-up">MFI</span>
                </div>
                <div class="col-md-3">
                    <span class="mb-0 font-weight-bold hidden-md-up">Applications</span>
                </div>
                <div class="col-md-3">
                    <span class="mb-0 font-weight-bold d-xs-none d-sm-none">Country of Origin</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">PP Impact Copolymer</div>
                        <div class="col-md-6">Injection Molding (High Impact Strength)</div>
                    </div>
                </div>
                <div class="col-md-1">
                    <span class="mb-0 mr-2 d-md-none d-lg-none">MFI:</span>3-50
                </div>
                <div class="col-md-3">
                    <span class="mb-0 mr-2 d-md-none d-lg-none">Applications:</span>Household Products, furniture, Baby car
                    parts, paint drum, storage boxes etc
                </div>
                <div class="col-md-3">
                    <span class="mb-0 mr-2 d-md-none d-lg-none">Country of Origin:</span>Taiwan, Saudi Arabia, Korea, Iran &
                    UAE.
                </div>
            </div>
        </div>

        <div class="section-title">
            <h6>We have strong sourcing from top petrochemical manufacturers worldwide.</h6>
            <h6>We can submit you sample if required.</h6>
        </div>
    </div>
</section>


<section id="polypropylene" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>
                        <h6 class="section-header mb-0 font-weight-bold">Polypropylene (PP)</h6>
                    </th>
                </tr>
                <tr>
                    <th>PP Impact Copolymer</th>
                    <td>Injection Molding <br>(High Impact Strength)</td>
                </tr>
                <tr>
                    <th>
                        <h6 class="mb-0 font-weight-bold">MFI</h6>
                    </th>
                    <td>3-50</td>
                </tr>
                <tr>
                    <th>
                        <h6 class="mb-0 font-weight-bold">Applications</h6>
                    </th>
                    <td>Household Products, furniture, Baby car <br>
                        parts, paint drum, storage boxes etc</td>
                </tr>
                <tr>
                    <th>
                        <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                    </th>
                    <td>Taiwan, Saudi Arabia, Korea, Iran & UAE.</td>
                </tr>
                <tr>
                    <td>PP Random Copolymer</td>
                    <td>Injection Molding</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">MFI</h6></td>
                    <td>12-35</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">Applications</h6></td>
                    <td>Housewares, transparency Food containers, <br>
                    All kinds of thin containers.</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">Country of Origin</h6></td>
                    <td>Saudi Arabia, Korea, Iran & Taiwan</td>
                </tr>
                <tr>
                    <td>PP Homopolymer</td>
                    <td>Film</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">MFI</h6></td>
                    <td>10-12</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">Applications</h6></td>
                    <td>General purpose films, garment bags, <br>
                    shopping bags, packaging bags, etc</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">Country of Origin</h6></td>
                    <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                </tr>
                <tr>
                    <td>PP Homopolymer</td>
                    <td>Injection Molding</td>
                </tr>
                <tr>
                    <td>
                        <h6 class="mb-0 font-weight-bold">MFI</h6>
                    </td>
                    <td>10-15</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">Applications</h6></td>
                    <td>House wares, furniture, hangers, <br>
                        closures, food containers etc.</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">Country of Origin</h6></td>
                    <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                </tr>
                <tr>
                    <td>PP Homopolymer</td>
                    <td>Flat Yarn/Raffia</td>
                </tr>
                <tr>
                    <td><h6 class="mb-0 font-weight-bold">MFI</h6></td>
                    <td>3-4.5</td>
                </tr>
                <tr>
                    <td>
                        <h6 class="mb-0 font-weight-bold">Applications</h6>
                    </td>
                    <td>Woven bags for cement industry and <br>
                    for various packing.</td>
                </tr>
                <tr>
                    <td>
                        <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                    </td>
                    <td>Saudi Arabia, Korea, Iran, Thailand, UAE & Taiwan.</td>
                </tr>
            </table>
        </div>

        <div class="section-title">
            <h6>We have strong sourcing from top petrochemical manufacturers worldwide.</h6>
            <h6>We can submit you sample if required.</h6>
        </div>
    </div>
</section> -->
