<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="/" class="logo mr-auto custom-logo"><img src="../assets/img/Logo.png" alt="Logo"
                class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#CompanyProfile">Company Profile</a></li>
                <li><a href="/#services">Services</a></li>
                <li class="drop-down" class="active"><a href="/#product">Product</a>
                    <ul>
                        <li class="drop-down"><a href="#polymers">Polymers</a>
                            <ul>
                                <li><a href="#polypropylene">Polypropylene (PP)</a></li>
                                <li><a href="#ldpe">Low Density Polyethylene (LDPE)</a></li>
                                <li><a href="#lldpe">Linear Low Density Polyethylene (LLDPE)</a></li>
                                <li><a href="#hdpe">High Density Polyethylene (HDPE)</a></li>
                                <li><a href="#polystyrene">Polystyrene (PS – GPPS & HIPS)</a></li>
                                <li><a href="#pvc">Poly Vinyl Chloride (PVC)</a></li>
                                <li><a href="#eva">Ethylene Vinyl Acetate (EVA)</a></li>
                                <li><a href="#abs">Acrylonitrile Butadiene Styrene (ABS)</a></li>
                                <li><a href="#styrene-acrylonitrile">Styrene Acrylonitrile (SAN)</a></li>
                                <li><a href="#engineering-plastics">Engineering Plastics</a></li>
                                <li><a href="#pet-resin">PET Resin</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#pvc-chemicals">Pvc Chemicals</a>
                            <ul>
                                <li><a href="#calcium-carbonate">Calcium Carbonate – (Coated & Un-Coated)</a></li>
                                <li><a href="#dbls">DBLS</a></li>
                                <li><a href="#paraffin-wax">paraffin wax</a></li>
                                <li><a href="#polyethlene-wax">Polyethlene Wax</a></li>
                                <li><a href="#pvc-stabilizer">Pvc Stabilizer</a></li>
                                <li><a href="#tbls">TBLS</a></li>
                                <li><a href="#ti02">TI02 (titanium dioxide)</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#ceramic-raw-materials">Ceramic Raw Materials</a>
                            <ul>
                                <li><a href="#alumina-ball-lining">Alumina Ball And Lining</a></li>
                                <li><a href="#alumina-oxide">Alumina Oxide</a></li>
                                <li><a href="#ball-clay">Ball Clay</a></li>
                                <li><a href="#barium-oxide">Barium Oxide</a></li>
                                <li><a href="#ceramic-roll">Ceramic Roll</a></li>
                                <li><a href="#dolomite">Dolomite</a></li>
                                <li><a href="#kaolin">Kaolin</a></li>
                                <li><a href="#litharge-yellow-lead">Litharge Yellow Lead</a></li>
                                <li><a href="#orange-lead">Orange Lead</a></li>
                                <li><a href="#potash-feldspar">Potash Feldspar</a></li>
                                <li><a href="#silica-powder">Silica Powder</a></li>
                                <li><a href="#sodium-feldspar">Sodium Feldspar</a></li>
                                <li><a href="#talcum">Talcum</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#glass-raw-material">Glass Raw Material</a>
                            <ul>
                                <li><a href="#alumina">Alumina (Smelter Grade)</a></li>
                                <li><a href="#alumina-oxide">Alumina Oxide</a></li>
                                <li><a href="#aluminium-hydroxide">Aluminium Hydroxide</a></li>
                                <li><a href="#barium-carbonate">Barium Carbonate</a></li>
                                <li><a href="#borax-pentahydrate">Borax Pentahydrate</a></li>
                                <li><a href="#calcined-bauxite">Calcined Bauxite</a></li>
                                <li><a href="#copper-oxide">Copper Oxide</a></li>
                                <li><a href="#iron-oxide">Iron Oxide</a></li>
                                <li><a href="#lithium-carbonate">Lithium Carbonate</a></li>
                                <li><a href="#nickel-oxide">Nickel Oxide</a></li>
                                <li><a href="#rare-earth">Rare Earth</a></li>
                                <li><a href="#sodium-nitrate">Sodium Nitrate</a></li>
                                <li><a href="#sodium-silico-fluoride">Sodium Silico Fluoride</a></li>
                                <li><a href="#sodium-sulfate">Sodium Sulfate</a></li>
                                <li><a href="#spodument">Spodument</a></li>
                                <li><a href="#strontium-carbonate">Strontium Carbonate</a></li>
                                <li><a href="#strontium-oxide">Strontium Oxide</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#films">Films</a>
                            <ul>
                                <li><a href="#bopp-film">BOPP Film</a></li>
                                <li><a href="#pet-film">PET Film</a></li>
                                <li><a href="#metalized-film">Metalized Film</a></li>
                                <li><a href="#pvc-sheet">PVC Sheet</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#oleo-chemicals">Oleo Chemicals</a>
                            <ul>
                                <li><a href="#stearic-acid">Stearic Acid</a></li>
                                <li><a href="#glycerine">Glycerine</a></li>
                                <li><a href="#cetyl-alcohol">Cetyl Alcohol</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#pulp-papers">Pulp & Papers</a>
                            <ul>
                                <li><a href="#pulp">Pulp</a></li>
                                <li><a href="#papers">Paper</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#solvents">Solvents</a>
                            <ul>
                                <li><a href="#xylene">Xylene</a></li>
                                <li><a href="#toluene">Toluene</a></li>
                                <li><a href="#aceton">Aceton</a></li>
                                <li><a href="#methanol">Methanol</a></li>
                                <li><a href="#ethyl-acetate">Ethyl Acetate</a></li>
                                <li><a href="#ipa">IPA</a></li>
                                <li><a href="#mek">MEK</a></li>
                                <li><a href="#octanol">Octanol (2-EH)</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#synthetic-rubber">Synthetic Rubber</a>
                            <ul>
                                <li><a href="#butadiene-rubber">Butadiene Rubber (BR)</a></li>
                                <li><a href="#styrene-butadiene-rubber">Styrene Butadiene Rubber (SBR)</a></li>
                                <li><a href="#chloroprene-rubber">Chloroprene Rubber.Input content…</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/#buyer-supplier">Buyer/Supplier Base</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="/#career">Career</a></li>
                <li><a href="https://www.facebook.com/Top-Polymers-BD-110993980663894" target="_blank">News</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
