<!-- ======= Pulp & Papers Section ======= -->
<section id="pulp-papers" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Pulp & Papers</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/pulp-paper.jpg" class="img-fluid" alt="PulpPaper">
            </div>

        </div>

    </div>
</section>
<!-- End Pulp & Papers Section -->

<!-- --Start Pulp Section -- -->
<section id="pulp" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Pulp</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Softwood Pulp</td>
                        <td class="desc">We have strong sourcing from top integrated Pulp manufacturers in N. AMERICA,
                            S. AMERICA,
                            EUROPE, ASIA / AFRICA, and from AUSTRALIA.</td>
                    </tr>
                    <tr>
                        <td>Hardwood Pulp</td>
                        <td class="desc">We have strong sourcing from top integrated Pulp manufacturers in N. AMERICA,
                            S. AMERICA,
                            EUROPE, ASIA / AFRICA, and from AUSTRALIA.</td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>
<!-- End Pulp Section -->

<!-- --Start Paper Section -- -->
<section id="papers" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Paper</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Country of Origin</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>News Print</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                    <tr>
                        <td>Art Card</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                    <tr>
                        <td>Art Paper</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                    <tr>
                        <td>Duplex Board</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                    <tr>
                        <td>Craft Paper</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                    <tr>
                        <td>Swedish Board</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                    <tr>
                        <td>Chipboard</td>
                        <td class="desc">N. AMERICA, S. AMERICA, EUROPE,
                            ASIA / AFRICA, AUSTRALIA, Taiwan, China, Korea, India</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Paper Section -->
