<!-- ======= PVC Chemicals Section ======= -->
<section id="pvc-chemicals" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>PVC Chemicals</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/pvc-chemicals.jpg" class="img-fluid" alt="PvcChemicals">
            </div>

        </div>

    </div>
</section>
<!-- End PVC Chemicals Section -->

<!-- --Start Calcium Carbonate – (Coated & Un-Coated) Section -- -->
<section id="calcium-carbonate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Calcium Carbonate – (Coated & Un-Coated)
                            </h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Calcium Carbonate – (Coated & Un-Coated)</td>
                        <td class="desc">Plastics, Paper, Tissue, Food, Paint, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Calcium Carbonate – (Coated & Un-Coated) Section -->

<!-- --Start DBLS Section -- -->
<section id="dbls" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">DBLS</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DBLS</td>
                        <td class="desc">Rigid PVC Pipe, PVC Products, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End DBLS Section -->

<!-- --Start Paraffin Wax Section -- -->
<section id="paraffin-wax" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Paraffin Wax</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Paraffin Wax</td>
                        <td class="desc">Pipe, Plastics, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Paraffin Wax Section -->

<!-- --Start Polyethlene Wax Section -- -->
<section id="polyethlene-wax" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">Polyethlene Wax</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Polyethlene Wax</td>
                        <td class="desc">Pipe, Plastics, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Polyethlene Wax Section -->

<!-- --Start PVC Stabilizer Section -- -->
<section id="pvc-stabilizer" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">PVC Stabilizer</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PVC Stabilizer</td>
                        <td class="desc">PVC Pipe, UPVC Fittings, PVC sheets, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End PVC Stabilizer Section -->

<!-- --Start TBLS Section -- -->
<section id="tbls" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">TBLS</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TBLS</td>
                        <td class="desc">Rigid PVC Pipe, PVC Products, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End TBLS Section -->

<!-- --Start TI02 (Titanium Dioxide) Section -- -->
<section id="ti02" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6 class="section-header mb-0 font-weight-bold">TI02 (Titanium Dioxide)</h6>
                        </th>
                        <th class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TI02 (Titanium Dioxide)</td>
                        <td class="desc">Paint, Flexible Packaging, etc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End TI02 (Titanium Dioxide) Section -->
