<!-- ======= Solvents Section ======= -->
<section id="solvents" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Solvents</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/solvents.jpg" class="img-fluid" alt="Solvents">
            </div>

        </div>

    </div>
</section>
<!-- End Solvents Section -->

<!-- --Start Xylene Section -- -->
<section id="xylene" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Xylene</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Xylene</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Xylene Section -->
<!-- --Start Toluene Section -- -->
<section id="toluene" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Toluene</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Toluene</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Toluene Section -->
<!-- --Start Aceton Section -- -->
<section id="aceton" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Aceton</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Aceton</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Aceton Section -->
<!-- --Start Methanol Section -- -->
<section id="methanol" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Methanol</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Methanol</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Methanol Section -->

<!-- --Start Ethyl Acetate Section -- -->
<section id="ethyl-acetate" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Ethyl Acetate</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ethyl Acetate</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Ethyl Acetate Section -->
<!-- --Start IPA Section -- -->
<section id="ipa" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">IPA</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IPA</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End IPA Section -->
<!-- --Start MEK Section -- -->
<section id="mek" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">MEK</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MEK</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End MEK Section -->
<!-- --Start Octanol (2-EH) Section -- -->
<section id="octanol" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Octanol (2-EH)</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Octanol (2-EH)</td>
                        <td class="desc">Producing Solvents</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Octanol (2-EH) Section -->
