<!-- ======= Synthetic Rubber Section ======= -->
<section id="synthetic-rubber" class="polymers">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <h2>Synthetic Rubber</h2>
                <a href="/#product">
                    <h6>Back to Product</h6>
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../assets/img/home-picture/synthetic-rubber.jpg" class="img-fluid" alt="SyntheticRubber">
            </div>

        </div>

    </div>
</section>
<!-- End Synthetic Rubber Section -->

<!-- --Start Butadiene Rubber Section -- -->
<section id="butadiene-rubber" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Butadiene Rubber (BR)</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Butadiene Rubber (BR)</td>
                        <td class="desc">Producing Rubber</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Butadiene Rubber Section -->

<!-- --Start Styrene Butadiene Rubber (SBR) Section -- -->
<section id="styrene-butadiene-rubber" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Styrene Butadiene Rubber (SBR)</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Styrene Butadiene Rubber (SBR)</td>
                        <td class="desc">Producing Rubber</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Styrene Butadiene Rubber (SBR) Section -->

<!-- --Start Chloroprene Rubber Section -- -->
<section id="chloroprene-rubber" class="services product-section">
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="section-header mb-0 font-weight-bold">Chloroprene Rubber</h6>
                        </th>
                        <th scope="col" class="desc">
                            <h6 class="mb-0 font-weight-bold">Applications</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chloroprene Rubber</td>
                        <td class="desc">Producing Rubber</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Chloroprene Rubber Section -->
