<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body id="page-top" class="index">
    {% include product-header.html %}
    {% include polymers.html %}
    {% include pvc-chemicals.html %}
    {% include ceramic-raw-materials.html %}
    {% include glass-raw-material.html %}
    {% include films.html %}
    {% include oleo-chemicals.html %}
    {% include pulp-papers.html %}
    {% include solvents.html %}
    {% include synthetic-rubber.html %}
    {% include footer.html %}
    {% include js.html %}

</body>

</html>
